# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



# production database
db_data/**


# database backup
mySQL/Dump.sql

# production glassfish domain backup
domain1

glassfish/glassfish4.zip*